/* =========================
   Hero
   ========================= */

.hero {
  background-color: #2e2f42;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-button {
  border: none;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background-color: #4d5ae5;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}
